<header>
  <nav>
    <ul>
      <li><a class="nav-brand" [routerLink]="['/']">CalendarManager</a></li>
    </ul>
    <ul>
      <li><a [routerLink]="['/']" [routerLinkActive]="['pico-active']" [routerLinkActiveOptions]="{ exact: true }">Calendar</a></li>
      <li><a [routerLink]="['/connections']" [routerLinkActive]="['pico-active']">Connections</a></li>
      <li><a [routerLink]="['/todo']" [routerLinkActive]="['pico-active']">Tasks</a></li>
    </ul>
    <ul>
      @if (isAuthenticated$ | async) {
        <li><a href="#" (click)="logout($event)">Log out</a></li>
      } @else {
        <li><a [routerLink]="['/login']" [routerLinkActive]="['pico-active']">Log in</a></li>
        <li><a [routerLink]="['/register']" [routerLinkActive]="['pico-active']">Register</a></li>
      }
      <li aria-hidden="true" class="nav-separator"></li>
      <li><app-theme-toggle /></li>
    </ul>
  </nav>
</header>
